
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"  href="{% static 'image/trophy.ico' %}" >
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <script>
      jQuery(document).ready(function($) {
          $('.counter').counterUp({
              delay: 10,
              time: 1000
          });
      });
  </script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg top-nave-bg">
      <div class="container-fluid">
          <a href="#" class="title navbar-brand">
            <img src="{% static 'image/Logo.jpg'%}" alt="Girl in a jacket" class="logo">
        
            FINANCIAL INTELLIGENCE</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
      
      </div>
  </nav>
    <div class="App">
      
      <div id="navHandler" class="sidenav">

        
       <button class="menuBtn" >
        {{ request.path}}
        {% comment %} <span id="hideNav" onclick="showorhideNav('hideNav')">
          <img src="{% static 'image/left.png'%}" alt="Girl in a jacket" class="brightness">
         
        </span> {% endcomment %}
        {% comment %} <span id="showNav" onclick="showorhideNav('showNav')">
          <img src="{% static 'image/left.png'%}" alt="Girl in a jacket" class="brightness">
       
        </span> {% endcomment %}
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item sideitem {% if request.path == '/home' %}actClr{% endif %}">
                 <a class="nav-link  roboto-condensed" aria-current="page" href="/home">
                <img src="{% static 'image/home.png'%}" alt="Girl in a jacket" class="brightness">
        
                  Home</a>
          </li>
          
          <li class="nav-item submenu-drop-item
           {% if request.path == '/search'  %}bg-nav-item
          {% elif request.path == '/report_view'%}bg-nav-item
          {% endif %}">
            <a class="nav-link  roboto-condensed" onclick="subMenu('has-submenu-search')"> 
              <img src="{% static 'image/search.png'%}" alt="Girl in a jacket" class="brightness">
        
              Search  </a>
            <ul class="navbar-nav back-color
            {% if request.path == '/search'  %}
            {% elif request.path == '/report_view'%}
            {% else %}
            collapse
            {% endif %}
            " id="has-submenu-search">
                   <li class="nav-item drop-item {% if request.path == '/search'  %}actClr {% endif %}">
                    <a class="nav-link roboto-condensed ms-3 {% if request.path == '/search'  %}act0ne {% endif %}" href="/search">
                      <img src="{% static 'image/veri-search.png'%}" alt="Girl in a jacket" class="brightness">
        
                      Verification</a>
                  </li>
                  <li class="nav-item drop-item {% if request.path == '/report_view'  %}actClr {% endif %}">
                    <a class="nav-link roboto-condensed ms-3 {% if request.path == '/report_view'  %}act0ne {% endif %}" href="/report_view">
                      <img src="{% static 'image/data-source.png'%}" alt="Girl in a jacket" class="brightness">
        
                      Report</a>
                  </li>
                </ul>
          </li>

          <li class="nav-item submenu-drop-item
          {% if request.path == '/training'  %}bg-nav-item
         {% elif request.path == '/rules_laws'%}bg-nav-item
         {% endif %}">
           <a class="nav-link roboto-condensed" onclick="subMenu('has-submenu-search-portal')"> 
             <img src="{% static 'image/thought.png'%}" alt="Girl in a jacket" class="brightness">
       
             Knowledge portal  </a>
           <ul class="navbar-nav back-color
           {% if request.path == '/training'  %}
           {% elif request.path == '/rules_laws'%}
           {% else %}
           collapse
           {% endif %}
           " id="has-submenu-search-portal">
                  <li class="nav-item drop-item {% if request.path == '/training'  %}actClr {% endif %}">
                   <a class="nav-link roboto-condensed  ms-3 {% if request.path == '/training'  %}act0ne {% endif %}" href="/training">
                     <img src="{% static 'image/present.png'%}" alt="Girl in a jacket" class="brightness">
       
                     Training</a>
                 </li>
                 <li class="nav-item drop-item {% if request.path == '/rules_laws'  %}actClr {% endif %}">
                   <a class="nav-link roboto-condensed ms-3 {% if request.path == '/rules_laws'  %}act0ne {% endif %}" href="/rules_laws">
                     <img src="{% static 'image/auction.png'%}" alt="Girl in a jacket" class="brightness">
       
                     Rules and laws</a>
                 </li>
               </ul>
         </li>

         <li class="nav-item sideitem {% if request.path == '/archived' %}actClr{% endif %}">
          <a class="nav-link active roboto-condensed" aria-current="page" href="/archived">
         <img src="{% static 'image/archive.png'%}" alt="Girl in a jacket" class="brightness">
 
         Archive</a>
       </li>
        <li class="nav-item submenu-drop-item 

        {% if request.path == '/form'  %}bg-nav-item
        {% elif request.path == '/report_form'%}bg-nav-item
        {% endif %}">
          <a class="nav-link roboto-condensed " onclick="subMenu('has-submenu-form')"> 
            <img src="{% static 'image/exam.png'%}" alt="Girl in a jacket" class="brightness">
        
            Forms  </a>
              <ul class="navbar-nav back-color
              {% if request.path == '/form'  %}
              {% elif request.path == '/report_form'%}
              {% elif request.path == '/uploadpodok'%}
              {% else %}
              collapse
              {% endif %}" 
              id="has-submenu-form">
                 <li class="nav-item  drop-item {% if request.path == '/form'  %}actClr {% endif %}">
                  <a class="nav-link roboto-condensed ms-3 {% if request.path == '/form'  %}act0ne {% endif %}" href="/form">
                    <img src="{% static 'image/verification.png'%}" alt="Girl in a jacket" class="brightness">
        
                    Verification</a>
                </li>
                <li class="nav-item drop-item {% if request.path == '/report_form'  %}actClr {% endif %}">
                  <a class="nav-link roboto-condensed  ms-3 {% if request.path == '/report_form'  %}act0ne {% endif %}" href="/report_form">
                    <img src="{% static 'image/report-form.png'%}" alt="Girl in a jacket" class="brightness">
        
                    Report </a>
                </li>

                <li class="nav-item drop-item {% if request.path == '/uploadpodok'  %}actClr {% endif %}">
                  <a class="nav-link roboto-condensed  ms-3 {% if request.path == '/uploadpodok'  %}act0ne {% endif %}" href="/uploadpodok">
                    <img src="{% static 'image/report-form.png'%}" alt="Girl in a jacket" class="brightness">
        
                    Podok </a>
                </li>
              </ul>
        </li>

        
        {% if user.is_superuser %}
    
        <li class="nav-item sideitem {% if request.path == '/user' %}actClr{% endif %}">
          <a class="nav-link roboto-condensed" href="/user">
            <img src="{% static 'image/user.png'%}" alt="Girl in a jacket" class="brightness">
      
            Admin</a>
           
        </li>
  
        {% endif %}


          {% if user.is_authenticated %}
    
          <li class="nav-item sideitem">
            <a class="nav-link roboto-condensed" href="/logout">
              <img src="{% static 'image/power-off.png'%}" alt="Girl in a jacket" class="brightness">
        
              Logout</a>
             
          </li>
        
          <li class="nav-item sideitem">
            <a class="nav-link roboto-condensed" href="#">Welcome, {{user.email}}</a>
          </li>

    
          {% endif %}
          
          </ul>
         
          
      </div>
      <main>
        <div class="formContainer">
        {% block content %}
   
       {% endblock content %}
        </div>

        
      </main>
      
      </div>

     
      
    </div>
       
    

     

    {% comment %} <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     {% endcomment %}
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" 
    integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" 
    integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      $('.counter').counterUp({
        delay: 10,
        time: 1000
    });
    
    </script>
  </body>
</html>