{% extends 'html/base/base.html' %}
{% load static %}
{% block title %}
  FORM
{% endblock %}
{% block content %}
  <div class="shadow-lg p-2">
    <p id="number">0</p>
    <form  id="financial">
      {% csrf_token %}
      <div class="card-item-fs bg-light">
        <div class="col align-self-center" >
          <a id="back" onclick="backItem()" class="btn btn-primary roboto-condensed"  >back</a>
   
        </div>
        <div class="col">
          <a id="next" onclick="nextItem()" class="btn btn-primary roboto-condensed" >next</a>
   
        </div>
      </div>
      
      <section>
    
        <div class="card-item-fs bg-light mt-2">
          <div class="col">
            <label for="podok" class="form-label col-form-label-sm">পদক বাছাই</label>
          </div>
          <div class="col">
            <select class="form-select" name="podok" id="podok">
              <option selected value="">পদক বাছাই করুন</option>
               {% for podok in podokName %}
               <option value="{{podok.id}}">{{podok.title}}</option>
              {% endfor %}
            </select>
            
          </div>
        </div>
        <div class="card-item-fs bg-light mt-2">
          <div class="col">
            <label for="formFile" class="form-label col-form-label-sm">{{podokdate}}</label>
          </div>
          <div class="col">
            <div class="input-group mb-2">
              <input type="date" class="form-control form-control-sm" id="podokdate" name="podokdate" placeholder="end" />
            </div>
          </div>
        </div>

      <div class="card-item-fs bg-light mt-2">
        <div class="col">
          <label for="formFile" class="form-label col-form-label-sm">ছবি আপলোড করুন</label>
        </div>
        <div class="col">
          <input id="fileInput" type="file" accept="image/*" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">নাম</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="name" name="name" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">বাবার নাম</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="fatherName" name="fatherName" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">মাতার নাম</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="motherName" name="motherName" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">এনআইডি নাম্বার</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="nid" name="nid" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">টিন নাম্বার</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" id="tinNumber" name="tinNumber" value="" />
        </div>
      </div>
      </section>
      <section>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{parmentAdd}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="parmentAdd" name="parmentAdd" ></textarea>
        </div>
      </div>

     

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{presentAdd}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="presentAdd" name="presentAdd"></textarea>
        </div>
      </div>


      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{birthPlace}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="birthPlace" name="birthPlace" value="" />
        </div>
      </div>


      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{dateOfBirth}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="dateOfBirth" name="dateOfBirth" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{height}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="height" name="height" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{bodyColor}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="bodyColor" name="bodyColor" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{clue}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="clue" name="clue" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{religion}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="religion" name="religion" value="" />
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{mobile}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="mobile" name="mobile" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{passport}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="passport" name="passport" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{education}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="education" name="education" ></textarea>
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{family}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="family" name="family" ></textarea>
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{wealth}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="wealth" name="wealth" ></textarea>
        </div>
      </div>
      </section>
      <section>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{profession}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="profession" name="profession" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{income}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="income" name="income" value="" />
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{business}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="business" name="business" ></textarea>
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{contribution}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="contribution" name="contribution" ></textarea>
        </div>
      </div>
      </section>
      <section>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm"> {{politicalInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="politicalInfo" name="politicalInfo" ></textarea>

        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{electionInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="electionInfo" name="electionInfo" ></textarea>
        </div>
      </div>
      </section>
      <section>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{mamlaInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="mamlaInfo" name="mamlaInfo" ></textarea>
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{sabotageInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="sabotageInfo" name="sabotageInfo" ></textarea>
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{arrestOrder}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="arrestOrder" name="arrestOrder" ></textarea>
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{arrestInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="arrestInfo" name="arrestInfo" ></textarea>
        </div>
      </div>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{corruptionInfo}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="corruptionInfo" name="corruptionInfo" ></textarea>
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{thanaRecord}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="thanaRecord" name="thanaRecord" ></textarea>
        </div>
      </div>

      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{influential}}</label>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="" id="influential" name="influential" value="" />
        </div>
      </div>
      </section>
      <section>
      <div class="card-item-fs mt-2 bg-light">
        <div class="col">
          <label for="validationDefault01" class="form-label col-form-label-sm">{{evaluation}}</label>
        </div>
        <div class="col">
          <textarea type="text" class="form-control form-control-sm" placeholder="" id="evaluation" name="evaluation" ></textarea>
        </div>
        
      </div>
      
      
      </section>
    {% comment %} btn {% endcomment %}

     
    <div id="div-enabled"  class="col mt-3">
      <a  onclick="upload()" class="btn btn-primary roboto-condensed" type="submit">
        SAVE</a>
    </div>
    
    <div id="div-disabled" class="col mt-3 d-none">
      <a  class="btn btn-primary roboto-condensed disabled" type="submit">
        <i class="fa fa-spinner fa-spin"></i>
        Uploading</a>
    </div>
    </form>
  </div>

  <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
